footer {
    margin: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    background-color: #DE9151;
    color: #1E1E24;
    position: relative;
    z-index: 10;
}