section {
    background-image:url("../images/background.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction {
    color:#1E1E24;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 70px;
}

.description {
    font-size:40px;
    font-weight: 400;
}

.register-btn{
    border:none;
    height: 60px;
    width: 200px;
    border-radius: 15px;
    font-size: 25px;
    background-color: #DE9151;
    color:#1E1E24;
    font-weight: 700;

}

@media screen and (max-width: 1200px) {
    .title{
        font-size: 40px;
    }

    .description {
        font-size:30px;
    }

    .register-btn{
        height: 55px;
        width: 180px;
    }

    section{
        height: 800px;
    }
}

@media screen and (max-width: 700px) {
    .title{
        font-size: 35px;
    }

    .description {
        font-size:22px;
    }

    .register-btn{
        height: 45px;
        width: 150px;
    }
}

@media screen and (max-width: 400px) {
    .title{
        font-size: 30px;
    }

    .description {
        font-size:20px;
    }

    .register-btn{
        height: 45px;
        width: 150px;
    }
}