nav {
    height: 90px;
    max-width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;

}

.logo-img {
    object-fit: cover;
    max-height: 90px;
}
.sections {
    display: flex;
    gap: 20px;
}
.sections > li {
    list-style-type: none;
}

.sections >li > a {
    text-decoration: none;
    color:#1E1E24;
    font-size:30px;
}

@media screen and (max-width: 700px){
    nav {
        flex-direction: column;
        height: auto;
    }
    .logo-img{
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
    }

    .sections > li > a {
        font-size: 20px;
    }

}